.img-section
  position: relative
  &, .row
    height: 859px
  .bg-icons
    z-index: 0
    .bg-icon1
      width: 982px
      height: 982px
      right: 0
      left: 0
      bottom: -202px
      margin: auto
      background: $orange
      border-radius: 100%

.ims-img
  position: absolute
  overflow: hidden
  img
    width: 120%
    height: 120%
    object-fit: cover
    position: absolute
    left: -10%
    top: -10%
    transition: transform 0.5s ease-out
  &1
    width: 862px
    height: 574px
    bottom: -90px
    right: 90px

  &2
    width: 539px
    height: 359px
    top: -54px
    left: 147px
  &3
    width: 411px
    height: 614px
    left: -60px
    top: 186px
  &4
    width: 280px
    height: 402px
    right: 20px
    bottom: -238px
