.our-cars
  padding: 103px 0 183px
  @media(max-width: 820px)
    padding: 80px 0
  &, .b-container
    position: relative

  .bg-icons
    z-index: 0
    transition: transform 0.3s ease-in-out
    .bg-icon1
      width: 1368px
      height: 1368px
      left: -684px
      top: -512px
      background: $yellowDark
      opacity: 0.45
      border-radius: 100%
      @media(max-width: 820px)
        width: 570px
        height: 570px
        left: -442px
        top: -160px
        opacity: 0.14

.oc
  &-bg
    position: absolute
    z-index: 0
    top: 0
    left: 0
    width: calc(100% + 130px)
    height: calc(100% + 286px)
    margin: -103px -65px 0
    background: $gray
    @media(max-width: 820px)
      display: none

  &-title
    padding-right: 20px
    margin-bottom: 72px
    @media(max-width: 820px)
      text-align: center
      padding-right: 0
    .h-title
      margin-bottom: 26px

  &-slider
    margin: 0 -45px 114px
    @media(max-width: 1366px)
      margin: 0 0 114px
      padding: 0 40px
    @media(max-width: 820px)
      margin: 0 0 34px
      padding: 0
    &_wrap
      position: relative
      @media(max-width: 820px)
        margin: 0 -16px
        padding-left: 16px

  &-slide
    //margin-bottom: 50px
    margin: 0 15px
    padding: 0 30px 50px
    position: relative
    @media(max-width: 820px)
      transition: opacity 300ms ease-out
      opacity: 0.5
      margin: 0 8px
      width: 270px
      padding: 0 18px 18px
    &:after
      content: ''
      position: absolute
      display: none
      z-index: 0
      left: 0
      bottom: 0
      height: 80%
      width: 100%
      background: $gray
      border-radius: 6px
      @media(max-width: 820px)
        display: block

    &_img, &_title, &_info, &_price
      position: relative
      z-index: 1
      @media(max-width: 820px)
        text-align: center

    &_img
      margin-bottom: 20px
      height: 176px
      line-height: 176px
      @media(max-width: 820px)
        height: 150px
        line-height: 150px
      img
        display: inline-block !important
        vertical-align: middle
        transform: scale(0.95)
        transform-origin: left bottom
        transition: transform 0s 200ms ease-out
        @media(max-width: 820px)
          max-width: 100%
          max-height: 100%
    &_title
      margin-bottom: 6px
      *
        @extend h5

    &_info
      border-top: 1px solid #000
      padding: 14px 0 26px
      @media(max-width: 820px)
        padding: 8px 0
        font-size: 11px

    &_price
      border-top: 1px solid #000
      &_info
        padding: 14px 0 17px
        text-transform: uppercase
        font-family: $f-main
        font-weight: $bd
        font-size: 12px
        line-height: 22px
        letter-spacing: 1.21071px
        @media(max-width: 820px)
          font-size: 10px

      &_type
        background: #000
        color: #fff
        font-family: $f-title
        font-weight: $bd
        font-size: 14px
        line-height: 16px
        padding: 9px 10px
    &.slick-active
      @media(max-width: 820px)
        opacity: 1
      img
        transform: scale(1)
        transition: transform 300ms 400ms ease-out
  &-btn
    .btn_black
      @media(max-width: 820px)
        width: 100%
        background: none
        border: 1px solid $main
        color: $main
        padding: 4px 0

