.partners
  background: #F5F0EE
  padding: 151px 0 115px
  text-align: center
  position: relative
  overflow: hidden
  @media(max-width: 992px)
    padding: 100px 0
  @media(max-width: 820px)
    padding: 42px 0 119px
  .h-title
    font-family: $f-main
    font-weight: $bd
    font-size: 10px
    line-height: 32px
    margin-bottom: 52px
    @media(min-width: 820px)
      display: none
  &_slider
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 -16px
  .bg-icons
    z-index: 0
    transition: transform 0.5s ease-out
    @media(max-width: 820px)
      display: none
    .bg-icon1
      width: 670px
      height: 670px
      left: -173px
      top: -402px
      background: $orange
      opacity: 0.45
      border-radius: 100%

.partner
  &_img
    line-height: 0
    flex: 0 0 25%
    @media(max-width: 992px)
      flex: 0 0 50%
      padding: 0 25px
      //margin-bottom: 30px
      //&:last-child
      //  margin-bottom: 0
    .k-img
      display: inline-block
    img
      opacity: 0.4
