.testimonials
  padding: 196px 0 106px
  background: $grayLight
  @media(max-width: 820px)
    padding: 80px 0
.tt
  &-title
  &-info
    margin-top: 130px
    margin-bottom: 5px
    @media(max-width: 820px)
      margin-top: 60px
    &, .h-title
      @extend .text-c

    .h-title
      margin-bottom: 33px
      font-size: 22px
      line-height: 28px
