section.how-it-works
    .bg-icons
        .bg-icon.bg-icon1
    .b-container-fluid
        .row
            .col-7
                ul.hw-list
                    li
                        .hw-list_num
                            p 1.
                        .hw-list_info
                            h4 Book a car
                            p Browse cars owned by local dealerships. G-Wagens for trips to Yosemite or Mustangs for weekends in Napa. 🙌🙌
                    li
                        .hw-list_num
                            p 2.
                        .hw-list_info
                            h4 Pick it up
                            p We pay for your Uber ride to the pickup location. Yep, that’s right. When you get there, just unlock the car and drive off.
                    li
                        .hw-list_num
                            p 3.
                        .hw-list_info
                            h4 Drop it off
                            p When you’re done, park the car where you picked it up. No paperwork or people involved. We’ll pay for your ride back home. ✌️

            .col-5
                .hw-title
                    h2.h-title How it works
                .hw-img
                    .hw-img1
                        img(src='images/img1.jpg' srcset='images/img1@2x.jpg 2x'  alt='img')
                    .hw-img2
                        img(src='images/img2.jpg' srcset='images/img2@2x.jpg 2x'  alt='img')
                    .hw-img3
                        img(src='images/img3.jpg' srcset='images/img3@2x.jpg 2x'  alt='img')
                    a.btn_black(href='#') Sign up

