section.img-section
    .bg-icons
        .bg-icon.bg-icon1
    .b-container
        .row.justify-content-center
            .col-12
                .ims-items
                    .ims-img.ims-img1
                        img(src='images/b-img1.jpg' srcset='images/b-img1@2x.jpg 2x' alt='')
                    .ims-img.ims-img2
                        img(src='images/b-img2.jpg' srcset='images/b-img2@2x.jpg 2x' alt='')
                    .ims-img.ims-img3
                        img(src='images/b-img3.jpg' srcset='images/b-img3@2x.jpg 2x' alt='')
                    .ims-img.ims-img4
                        img(src='images/b-img4.jpg' srcset='images/b-img4@2x.jpg 2x' alt='')

                .ims-items_slider-wrap
                    ul.ims-items_slider
                        li
                            img(src='images/b-img1.jpg' srcset='images/b-img1@2x.jpg 2x' alt='')
                        li
                            img(src='images/b-img2.jpg' srcset='images/b-img2@2x.jpg 2x' alt='')
                        li
                            img(src='images/b-img3.jpg' srcset='images/b-img3@2x.jpg 2x' alt='')
                        li
                            img(src='images/b-img4.jpg' srcset='images/b-img4@2x.jpg 2x' alt='')

                    .slider_nav
                        .ims-item-prev.slider_nav-prev
                            svg(width='15', height='26', viewBox='0 0 15 26', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M11.7992 25.4561C12.5314 26.1813 13.7186 26.1813 14.4508 25.4561C15.1831 24.7308 15.1831 23.5549 14.4508 22.8296L4.52664 13L14.4508 3.17029C15.1831 2.44507 15.1831 1.26913 14.4508 0.543911C13.7186 -0.181305 12.5314 -0.181305 11.7992 0.543911L0.549169 11.6868C-0.183057 12.412 -0.183057 13.5879 0.549169 14.3132L11.7992 25.4561Z', fill='white')

                        .ims-item-next.slider_nav-next
                            svg(width='15', height='26', viewBox='0 0 15 26', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M3.20083 0.543945C2.46859 -0.181315 1.28141 -0.181315 0.549174 0.543945C-0.183058 1.26921 -0.183058 2.44508 0.549174 3.17035L10.4734 13L0.549174 22.8297C-0.183058 23.5549 -0.183058 24.7309 0.549174 25.4561C1.28141 26.1813 2.46859 26.1813 3.20083 25.4561L14.4508 14.3132C15.1831 13.588 15.1831 12.4121 14.4508 11.6868L3.20083 0.543945Z', fill='white')


