section.img-section
    .bg-icons
        .bg-icon.bg-icon1
    .b-container
        .row.justify-content-center
            .col-12
                .ims-items
                    .ims-img.ims-img1
                        .k-norm
                            .k-img_wrap
                                img(src='images/b-img1.jpg' srcset='images/b-img1@2x.jpg 2x' alt='')
                    .ims-img.ims-img2
                        .k-norm
                            .k-img_wrap
                                img(src='images/b-img2.jpg' srcset='images/b-img2@2x.jpg 2x' alt='')
                    .ims-img.ims-img3
                        .k-norm
                            .k-img_wrap
                                img(src='images/b-img3.jpg' srcset='images/b-img3@2x.jpg 2x' alt='')
                    .ims-img.ims-img4
                        .k-norm
                            .k-img_wrap
                                img(src='images/b-img4.jpg' srcset='images/b-img4@2x.jpg 2x' alt='')


