section.main-cover
    .main-cover_bg-video
        .bg-video_wrap
            //.bg-video_slider
            //    .bg-video_slide
            //        video.video-bg(muted playsinline)
            //            source(src="video/video-1.webm" type="video/webm")
            //            source(src="video/video-1.mp4" type="video/mp4")
            //    .bg-video_slide
            //        video.video-bg(muted playsinline)
            //            source(src="video/video-1.webm" type="video/webm")
            //            source(src="video/video-1.mp4" type="video/mp4")
            //    .bg-video_slide
            //        video.video-bg(muted playsinline)
            //            source(src="video/video-1.webm" type="video/webm")
            //            source(src="video/video-1.mp4" type="video/mp4")
    .b-container-fluid
        .main-row.row.align-items-center
            .col-6.offset-1
                .main-cover_title
                    p.sub-title Welcome to Carve
                    h1.h1-title Adventure is waiting
    .mc_form
        .mc_title
            h6 Get Started
        .mc_section
            h6 Pickup
            .mc_select
                input#datetimepicker(type='text')
        .mc_section
        .mc_btn

