section.main-cover
    .main-cover_bg-video
        .bg-video_wrap
            //.bg-video_slider
            //    .bg-video_slide
            //        video.video-bg(muted playsinline)
            //            source(src="video/video-1.webm" type="video/webm")
            //            source(src="video/video-1.mp4" type="video/mp4")
            //    .bg-video_slide
            //        video.video-bg(muted playsinline)
            //            source(src="video/video-1.webm" type="video/webm")
            //            source(src="video/video-1.mp4" type="video/mp4")
            //    .bg-video_slide
            //        video.video-bg(muted playsinline)
            //            source(src="video/video-1.webm" type="video/webm")
            //            source(src="video/video-1.mp4" type="video/mp4")
    .b-container-fluid
        .main-row.row.align-items-center
            .col-lg-6.offset-md-1.col-12.offset-0
                .main-cover_title
                    p.sub-title Welcome to Carve
                    h1.h1-title Adventure is waiting
    .mc_form
        .mc_title
            h6 Get Started
        .mc_section
            h6 Pickup
            .mc_select.mc_select_date
                input.pickup_data(type='text' placeholder='Date')
            .mc_select.mc_select_time
                input.pickup_time(type='text' placeholder='Time')
        .mc_section
            h6 Dropoff
            .mc_select.mc_select_date
                input.dropoff_data(type='text' placeholder='Date')
            .mc_select.mc_select_time
                input.dropoff_time(type='text' placeholder='Time')
        .mc_btn
            button Search
