section.our-cars
    .bg-icons
        .bg-icon.bg-icon1
    .b-container
        .oc-bg.fade-up
        .row
            .col-lg-7.offset-lg-0.col-md-10.offset-md-1.offset-0
                .oc-title
                    h2.h-title.fade-up Our Cars
                    p.title-info.fade-up.
                        We partner with dealerships to rent out cars that would otherwise just sit on the lot, which
                        means you get the coolest cars at the best prices.
        .row.justify-content-center
            .col-12
                .oc-slider_wrap
                    .oc-slider.fade-up
                        .oc-slide
                            .oc-slide_img
                                img(src='images/car1.png' srcset='images/car1@2x.png 2x' alt='car')
                            .oc-slide_title
                                h5 Mercedes Wagon
                            .oc-slide_info
                                p Brief car description goes here.Brief car description goes here.
                            .oc-slide_price
                                .oc-slide_price_info.d-flex.justify-content-between
                                    span Seats  6
                                    span 4 door
                                    span Automatic
                                .oc-slide_price_type
                                    p Luxury

                        .oc-slide
                            .oc-slide_img
                                img(src='images/car2.png' srcset='images/car2@2x.png 2x' alt='car')
                            .oc-slide_title
                                h5 Mercedes Wagon
                            .oc-slide_info
                                p Brief car description goes here.Brief car description goes here.
                            .oc-slide_price
                                .oc-slide_price_info.d-flex.justify-content-between
                                    span Seats  6
                                    span 4 door
                                    span Automatic
                                .oc-slide_price_type
                                    p Luxury

                        .oc-slide
                            .oc-slide_img
                                img(src='images/car3.png' srcset='images/car3@2x.png 2x' alt='car')
                            .oc-slide_title
                                h5 Mercedes Wagon
                            .oc-slide_info
                                p Brief car description goes here.Brief car description goes here.
                            .oc-slide_price
                                .oc-slide_price_info.d-flex.justify-content-between
                                    span Seats  6
                                    span 4 door
                                    span Automatic
                                .oc-slide_price_type
                                    p Luxury

                        .oc-slide
                            .oc-slide_img
                                img(src='images/car1.png' srcset='images/car1@2x.png 2x' alt='car')
                            .oc-slide_title
                                h5 Mercedes Wagon
                            .oc-slide_info
                                p Brief car description goes here.Brief car description goes here.
                            .oc-slide_price
                                .oc-slide_price_info.d-flex.justify-content-between
                                    span Seats  6
                                    span 4 door
                                    span Automatic
                                .oc-slide_price_type
                                    p Luxury

                        .oc-slide
                            .oc-slide_img
                                img(src='images/car2.png' srcset='images/car2@2x.png 2x' alt='car')
                            .oc-slide_title
                                h5 Mercedes Wagon
                            .oc-slide_info
                                p Brief car description goes here.Brief car description goes here.
                            .oc-slide_price
                                .oc-slide_price_info.d-flex.justify-content-between
                                    span Seats  6
                                    span 4 door
                                    span Automatic
                                .oc-slide_price_type
                                    p Luxury

                        .oc-slide
                            .oc-slide_img
                                img(src='images/car3.png' srcset='images/car3@2x.png 2x' alt='car')
                            .oc-slide_title
                                h5 Mercedes Wagon
                            .oc-slide_info
                                p Brief car description goes here.Brief car description goes here.
                            .oc-slide_price
                                .oc-slide_price_info.d-flex.justify-content-between
                                    span Seats  6
                                    span 4 door
                                    span Automatic
                                .oc-slide_price_type
                                    p Luxury

                        .oc-slide
                            .oc-slide_img
                                img(src='images/car1.png' srcset='images/car1@2x.png 2x' alt='car')
                            .oc-slide_title
                                h5 Mercedes Wagon
                            .oc-slide_info
                                p Brief car description goes here.Brief car description goes here.
                            .oc-slide_price
                                .oc-slide_price_info.d-flex.justify-content-between
                                    span Seats  6
                                    span 4 door
                                    span Automatic
                                .oc-slide_price_type
                                    p Luxury

                        .oc-slide
                            .oc-slide_img
                                img(src='images/car2.png' srcset='images/car2@2x.png 2x' alt='car')
                            .oc-slide_title
                                h5 Mercedes Wagon
                            .oc-slide_info
                                p Brief car description goes here.Brief car description goes here.
                            .oc-slide_price
                                .oc-slide_price_info.d-flex.justify-content-between
                                    span Seats  6
                                    span 4 door
                                    span Automatic
                                .oc-slide_price_type
                                    p Luxury

                    .slider_nav
                        .oc-prev.slider_nav-prev
                            img(src='images/arrow.svg' alt='')

                        .oc-next.slider_nav-next
                            img(src='images/arrow-n.svg' alt='')

                .oc-btn.text-c
                    a.btn_black(href='#') See all cars
