section.partners
    .bg-icons
        .bg-icon.bg-icon1
    .b-container
        .row
            .col-12
                h5.h-title FEATURED BY
        .partners_slider
            .partner_img
                .k-img
                    img(src='images/partner1.svg' alt='')
            .partner_img
                .k-img
                    img(src='images/partner2.svg' alt='')
            .partner_img
                .k-img
                    img(src='images/partner3.svg' alt='')
