section.partners
    .bg-icons
        .bg-icon.bg-icon1
    .b-container
        .row.justify-content-between.align-items-center
            .col-3.partner_img
                img(src='images/partner1.svg' alt='')
            .col-3.partner_img
                img(src='images/partner2.svg' alt='')
            .col-3.partner_img
                img(src='images/partner3.svg' alt='')
