section.platform-info
    .b-container
        .row.justify-content-center
            .col-lg-7.col-md-10.col-12
                .pi-title
                    h2.h-title.text-c.fade-up This is Carve
                    p.title-info.text-c.fade-up.
                        Renting a car should be about getting you in the perfect car as quickly and effortlessly as
                        possible. That’s why we’ve set out to create a new kind of car sharing platform - one that puts
                        you at the center of every decision we make, so you can focus on where your adventure is taking you.

            .col-12
                .pi-slider_wrap
                    .pi-slider
                        .pi-slide
                            .row.justify-content-center
                                .col-xl-9.col-md-11.col-12
                                    .pi-slide_img.text-c
                                        img(src='images/pi_img.png' srcset='images/pi_img@2x.png 2x' alt='img')
                            .row.justify-content-center
                                .col-xl-5.col-md-9.col-12
                                    .pi-slide_info
                                        h5.text-c Seamless Pickup and Dropoff
                                        p.pi-slide_text.text-c.
                                            No lines, no paperwork, and no people. Free Uber credit to get you there and
                                            back.
                        .pi-slide
                            .row.justify-content-center
                                .col-xl-9.col-md-11.col-12
                                    .pi-slide_img.text-c
                                        img(src='images/pi_img.png' srcset='images/pi_img@2x.png 2x' alt='img')
                            .row.justify-content-center
                                .col-xl-5.col-md-9.col-12
                                    .pi-slide_info
                                        h5.text-c Seamless Pickup and Dropoff
                                        p.pi-slide_text.text-c.
                                            No lines, no paperwork, and no people. Free Uber credit to get you there and
                                            back.
                        .pi-slide
                            .row.justify-content-center
                                .col-xl-9.col-md-11.col-12
                                    .pi-slide_img.text-c
                                        img(src='images/pi_img.png' srcset='images/pi_img@2x.png 2x' alt='img')
                            .row.justify-content-center
                                .col-xl-5.col-md-9.col-12
                                    .pi-slide_info
                                        h5.text-c Seamless Pickup and Dropoff
                                        p.pi-slide_text.text-c.
                                            No lines, no paperwork, and no people. Free Uber credit to get you there and
                                            back.
                        .pi-slide
                            .row.justify-content-center
                                .col-xl-9.col-md-11.col-12
                                    .pi-slide_img.text-c
                                        img(src='images/pi_img.png' srcset='images/pi_img@2x.png 2x' alt='img')
                            .row.justify-content-center
                                .col-xl-5.col-md-9.col-12
                                    .pi-slide_info
                                        h5.text-c Seamless Pickup and Dropoff
                                        p.pi-slide_text.text-c.
                                            No lines, no paperwork, and no people. Free Uber credit to get you there and
                                            back.
                    .slider_nav
                        .pi-prev.slider_nav-prev
                            img(src='images/arrow.svg' alt='')
                        .pi-next.slider_nav-next
                            img(src='images/arrow-n.svg' alt='')

