section.testimonials
    .b-container
        .row.justify-content-center
            .col-lg-6.col-md-9.col-12
                .tt-title_wrap
                    .tt-title_parallax
                        .tt-title
                            h2.h-title.text-c The future of car ownership
                            //p.sub-title.text-c The journey is the destination
            .col-md-12.col-sm-10.col-12.align-self-center.testimonials-items
                .tt-items
                    .tt-info
                        h5.h-title It’s about  time there’s a car service I can actually rely on
                        p.tt-web_info Name and profession
                        .tt-mob_info
                            .tt-mob_img
                                img(src='images/icon.svg')
                            .tt-mob_text
                                p Lassy Chester
                                p Art Director

                    .tt-info
                        h5.h-title It’s about  time there’s a car service I can actually rely on
                        p.tt-web_info Name and profession
                        .tt-mob_info
                            .tt-mob_img
                                img(src='images/icon.svg')
                            .tt-mob_text
                                p Lassy Chester
                                p Art Director

                    .tt-info
                        h5.h-title It’s about  time there’s a car service I can actually rely on
                        p.tt-web_info Name and profession
                        .tt-mob_info
                            .tt-mob_img
                                img(src='images/icon.svg')
                            .tt-mob_text
                                p Lassy Chester
                                p Art Director

                    .tt-info
                        h5.h-title It’s about  time there’s a car service I can actually rely on
                        p.tt-web_info Name and profession
                        .tt-mob_info
                            .tt-mob_img
                                img(src='images/icon.svg')
                            .tt-mob_text
                                p Lassy Chester
                                p Art Director

                    .tt-info
                        h5.h-title It’s about  time there’s a car service I can actually rely on
                        p.tt-web_info Name and profession
                        .tt-mob_info
                            .tt-mob_img
                                img(src='images/icon.svg')
                            .tt-mob_text
                                p Lassy Chester
                                p Art Director

                    .tt-info
                        h5.h-title It’s about  time there’s a car service I can actually rely on
                        p.tt-web_info Name and profession
                        .tt-mob_info
                            .tt-mob_img
                                img(src='images/icon.svg')
                            .tt-mob_text
                                p Lassy Chester
                                p Art Director
                .tt-btn
                    a.btn_black(href='#') Get started
