section.testimonials
    .b-container
        .row.justify-content-center
            .col-6
                .tt-title
                    h2.h-title.text-c The future of car ownership
                    p.sub-title.text-c The journey is the destination
            .col-12
                .row.justify-content-between
                    .col-3
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession

                    .col-3
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession

                    .col-3
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession

                .row.justify-content-between
                    .col-3
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession

                    .col-3
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession

                    .col-3
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession


