section.testimonials
    .b-container
        .row.justify-content-center
            .col-lg-6.col-md-9.col-12
                .tt-title
                    h2.h-title.text-c.fade-up The future of car ownership
                    p.sub-title.text-c.fade-up The journey is the destination
            .col-12.testimonials-items
                .row.justify-content-md-between.justify-content-center
                    .col-lg-3.col-md-4.col-11
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession

                    .col-lg-3.col-md-4.col-11
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession

                    .col-lg-3.col-md-4.col-11
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession

                .row.justify-content-md-between.justify-content-center
                    .col-lg-3.col-md-4.col-11
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession

                    .col-lg-3.col-md-4.col-11
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession

                    .col-lg-3.col-md-4.col-11
                        .tt-info
                            h5.h-title It’s about  time there’s a car service I can actually rely on
                            p Name and profession


