footer.footer
    .b-container
        .row.justify-content-between.align-items-center
            .col-5
                .social-icons
                    a(href='#')
                        img(src='images/twitter.svg' alt='twitter')
                    a(href='#')
                        img(src='images/instagram.svg' alt='instagram')
                    a(href='#')
                        img(src='images/fb.svg' alt='facebook')
            .col-2.text-c
                a.footer-logo(href='#')
                    img(src='images/logo.svg' alt='logo')
            .col-5.text-r
                .footer_links
                    a(href='#') Contact
                    a(href='#') Terms
                    a(href='#') Privacy
                    a(href='#') Help
