footer.footer
    .b-container
        .row.justify-content-between.align-items-center
            .col-lg-5.col-12.order-lg-1.order-2
                .social-icons
                    a(href='#')
                        img(src='images/twitter.svg' alt='twitter')
                    a(href='#')
                        img(src='images/instagram.svg' alt='instagram')
                    a(href='#')
                        img(src='images/fb.svg' alt='facebook')
            .col-lg-2.col-12.text-c.order-lg-2.order-1
                a.footer-logo(href='#')
                    img(src='images/logo.svg' alt='logo')
            .col-lg-5.col-12.order-3.text-c
                .footer_links
                    a(href='#') Contact
                    a(href='#') Terms
                    a(href='#') Privacy
                    a(href='#') Help
