block menuLinks

header.main-header.c-height
    .b-container-fluid
        .main-row.row.align-items-center
            .col-xl-5.col-8
                .main-header_logo
                    a(href='#')
                        img(src='images/mainLogo.svg' alt='logo')
            .col-xl-6.col-4
                .main-header_menu
                    a(href='#' class= menu1) Sign up
                    a(href='#' class= menu2) Login
                    a(href='#' class= menu3) Help

                .main-header_d-menu
                    .hamburger
                        span
                        span
                        span

    .mob-menu
        .mob-menu_bg
        ul
            li
                a(href='#' class= menu1) Sign up
            li
                a(href='#' class= menu2) Login
            li
                a(href='#' class= menu3) Help
